{% set page_title = "ご寄付・ご協力のお願い" %}
{% set page_description = "私たちが配布するソフトウェアを気に入っていただけた方などで、活動にご支援・ご協力を頂ける方がいらっしゃいましたら、ぜひお力をお貸しください。" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			ご寄付・ご協力のお願い
		</h2>
		<div class="container px-5">
			<p>
				ACT Laboratory(Accessible Tools Laboratory)は、プログラミングを学ぶ視覚障害者の集まりです。<br />
			</p>
			<p>
				配布しているソフトウェアの多くは無償ですが、運営には多少の経費も掛かっています。
				また、私たちは全員が視覚に障害を持っているため、視覚的な部分のデザインを中心に、どうしてもメンバー自身で行う事が難しい事もあります。
			</p>
			<p>
				私たちが配布するソフトウェアを気に入っていただけた方などで、活動にご支援・ご協力を頂ける方がいらっしゃいましたら、ぜひお力をお貸しください。
				なお、ご支援を頂きました方につきましては、Twitterや当サイトにてご紹介させて頂く予定です。
			</p>
		</div>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">情報の拡散によるご協力</h3>
	</div>
	<div class="container p-5">
		<p>
			立ち上げたばかりのラボですので、まだまだ小規模で知名度もありません。
			ラボのソフトウェアを使っていただき、気に入って頂けた際には、是非周囲の方へご紹介ください。
		</p>
		<p>
			各ソフトウェアの利用者が増えることは、私たちメンバーが活動する原動力となります。
			また、多くの人に知っていただくことで様々なご支援も集まりやすくなります。
		</p>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">不具合の報告や機能の要望、利用しての感想などのご協力</h3>
	</div>
	<div class="container p-5">
		<p>
			ソフトウェアをお使いいただく中で何らかの不具合に遭遇された際や、機能改善のアイデアがありました際には、是非ラボまでご報告ください。
			また、普段どのような用途や設定でお使いいただいているのか、ご感想などをいただくだけでも開発の参考となります。
			メンバー一同、できるだけ良いものをお届けするよう努めておりますが、学業や仕事との両立でやっていることもあり、なかなか行き届いていない部分も少なからずあるかと思います。
			すぐにはご対応できない場合も多いかもしれませんが、今後の発展の為お気軽にご連絡いただき、その後の対応を温かく見守っていただけますと幸いです。
		</p>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">資金面でのご協力</h3>
	</div>
	<div class="container p-5">
		<p>
			当サイトで配布するソフトウェアの多くは無償で提供していますが、運営には毎年ドメイン(actlab.org)の維持費をはじめとする費用がかかっています。
			また、資金に余裕があればVPS(クラウド上のマシン)を契約し、これを前提としたソフトウェアの提供なども行いたいと思っています。
			その他にも、OCRエンジンやaquestalk10をはじめとする有償ライブラリの購入、書籍を買って学習する、苦手な作業を外部の方にお願いするなど、活動の幅が大きく広がります。
		</p>
		<p>ご協力いただける方は、以下のいずれかの方法にてご送金ください。</p>
		<ul>
			<li>銀行口座へ直接振り込んでいただく方法
				<ul>
					<li>下記の銀行口座まで、直接お振込ください。
						<p class="m-3">三菱UFJ銀行　玉川支店(店番131)　普通　0909939</p>
					</li>
					<li>口座名義は「アクセシブル　ツールズ　ラボラトリー　コウチ　ユウキ」です。</li>
					<li>ご送金にかかる振込手数料はご負担ください。</li>
				</ul>
			</li>
			<li><a href="https://www.yggdore.com/t4u/">YggDore</a>を通じ、銀行振込にて送金していただく方法
				<ul>
					<li>ご送金にかかる振込手数料はご負担ください。送金先はPayPay銀行(旧ジャパンネット銀行)です。</li>
					<li>受け取りサイトには「https://actlab.org/」をご指定下さい。</li>
					<li>ご送金金額の年度合計から55円を差し引いた金額が、私たちに届きます。</li>
				</ul>
			</li>
			<li>WorksPayを通じ、クレジットカードにて送金して頂く方法
				<ul>
					<li><a href="https://works-pay.com/basket/label/bska435feccf230d63a?openExternalBrowser=1">任意の金額のご寄付</a>と、<a href="https://works-pay.com/basket/label/bska865feccf7fb01b4?openExternalBrowser=1">毎月500円の継続的なご寄付</a>が可能です。
					<li>お支払いいただいた金額から６．６％と、年度末にまとめて引き出す際の手数料250円を差し引いた金額が、私たちに届きます。</li>
				</ul>
			</li>
			<li>任意の金額分のAmazonギフト券をご購入いただき、コード番号を電子メールやTwitterのダイレクトメッセージにてお送りいただく方法
				<ul>
					<li>Amazonギフト券はクレジットカードやコンビニ払いにてご購入いただけます。</li>
					<li>ギフト券の額面の85％前後が、私たちに届きます。</li>
				</ul>
			</li>
		</ul>
		<p>その他の方法・金額での寄付については、すぐに準備を致しますのでお問い合わせください。</p>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">ウェブデザインやラボ・各ソフトウェアのアイコン画像作成</h3>
	</div>
	<div class="container p-5">
		<p>
			最低限のデザインしかできていないラボのホームページのデザイン作業や、ラボのTwitterアカウント等で利用するロゴ、各ソフトウェアのアイコン画像等を作っていただける方を募集しています。
		</p>
		<p>
			ただし、視覚障害を持つユーザが多いため、ホームページについてはアクセシビリティに配慮した設計をお願いします。
		</p>
		<p>
			引き受けていただける方は、簡単なスケッチをメールやツイッターのダイレクトメッセージにてお送りください。
		</p>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">翻訳</h3>
	</div>
	<div class="container p-5">
		<p>
			配布しているソフトウェアは、日本語に加えて英語にも対応しています。
		</p>
		<p>
			今後公開するものも含めたソフトウェアの翻訳や、ドキュメントの英語化にご協力いただける方を募集しています。
		</p>
	</div>


	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">ドキュメントの充実・直接のコード修正等</h3>
	</div>
	<div class="container p-5">
		<p>
			配布しているソフトウェアは、<a href="https://github.com/actlaboratory/">GitHub</a>にてドキュメント・ソースコード・翻訳データなどをすべて公開しています。
		</p>
		<p>
			ドキュメントの執筆や翻訳、プログラミングのできる方はバグの修正や機能の追加等、コントリビューションも歓迎しています。
			GitHubの利用が難しい方でも、ドキュメント等を書いてお送りいただけましたら、ソフトウェアへの同梱やウェブ掲載などさせて頂きます。
			より詳しい使い方の解説や不足している注意事項、コラム等、なんでもお送りください。
		</p>
	</div>
{% endblock %}

{# フッタ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
