{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# タイトル #}
{% block title %} ご寄付・ご協力のお願い {% endblock %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			ご寄付・ご協力のお願い
		</h2>
		<div class="container px-5">
			<p>
				ACT Laboratory(Accessible Tools Laboratory)は、プログラミングを学ぶ視覚障害者の集まりです。<br />
			</p>
			<p>
				配布しているソフトウェアは全て無償ですが、運営には多少の経費も掛かっています。
				まずは運営費を賄うことを第一に考えていますが、資金があれば有償の開発ツールを使用したり、書籍やテスト用のマシンを購入したりと、活動の幅が広がります。
				また、私たちは全員が視覚に障害を持っているため、視覚的な部分のデザインを中心に、どうしてもメンバー自身で行う事が難しい事もあります。
			</p>
			<p>
				私たちが配布するソフトウェアを気に入っていただけた方などで、活動にご支援・ご協力を頂ける方がいらっしゃいましたら、ぜひお力をお貸しください。
				なお、ご支援を頂きました方につきましては、Twitterや当サイトにてご紹介させて頂く予定です。
			</p>
		</div>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">資金面でのご協力</h3>
	</div>
	<div class="container p-5">
		<p>
			当サイトで配布するソフトウェアは全て無償で提供していますが、運営には毎年ドメイン(actlab.org)の維持費がかかっています。
			また、資金に余裕があればVPS(クラウド上のマシン)を契約し、これを前提としたソフトウェアの提供なども行いたいと思っています。
			その他にも、aquestalk10の開発者ライセンスを購入してSAPIエンジンを持っていない人でも音声読み上げ環境下でソフトを利用できるようにする、書籍を買って学習する、苦手な作業を外部の方にお願いするなど、活動の幅が大きく広がります。
		</p>
		<p>
			ご協力いただける方は、任意の金額分のAmazonギフト券をご購入いただき、コード番号を電子メールやTwitterのダイレクトメッセージにてお送りください。
			その他の方法での寄付については、すぐに準備を致しますのでお問い合わせください。
		</p>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">ウェブデザインやラボ・各ソフトウェアのアイコン画像作成</h3>
	</div>
	<div class="container p-5">
		<p>
			最低限のデザインしかできていないラボのホームページのデザイン作業や、ラボのTwitterアカウント等で利用するロゴ、各ソフトウェアのアイコン画像等を作っていただける方を募集しています。
		</p>
		<p>
			ただし、視覚障害を持つユーザが多いため、ホームページについてはアクセシビリティに配慮した設計をお願いします。
		</p>
		<p>
			引き受けていただける方は、簡単なスケッチをメールやツイッターのダイレクトメッセージにてお送りください。
		</p>
	</div>
	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">ドキュメントの充実、直接のコード修正等</h3>
	</div>
	<div class="container p-5">
		<p>
			配布しているソフトウェアは、<a href="https://github.com/actlaboratory/">github</a>にてドキュメント・ソースコード・翻訳データなどをすべて公開しています。
		</p>
		<p>
			ドキュメントの執筆や翻訳など、私たちがやり切れていない部分や不十分な点、プログラミングのできる方はバグの修正や機能の追加等、コントリビューションも歓迎しています。
			また、gitHubの利用が難しい方でも、ドキュメント等を書いてお送りいただけましたら、ソフトウェアへの同梱やウェブ掲載などさせて頂きます。
			より詳しい使い方の解説や不足している注意事項、コラム等、なんでもお送りください。
		</p>
	</div>
{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
