# Confidential settings file
bbs/init.cgi
.htaccess

# BBS data file
bbs/data/ses.cgi
bbs/data/log.cgi
bbs/data/past/*.cgi
bbs/data/log.cgi
bbs/data/log/*
bbs/data/num.dat
bbs/data/pastno.dat

# logfile
logs/
