<footer class="fixed-bottom bg-light mx-auto">
    <div class="container text-center">
        <span class="text-muted align-middle">Copyright (c)2020 - 2021 ACT Laboratory All rights reserved.</span>
    </div>
</footer>
