{% set page_title = "ログビューア" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}


{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			ログビューア
		</h2>
		<div class="container rx-5 mx-5">
			<p>
				閲覧するログファイルを選択してください。
				ローカル環境では表示されません。
			</p>
		</div>
	</div>

	{% for file in files %}
		<div class="d-flex align-items-center  text-white bg-primary px-5 mb-5">
			<h3 class="h2"><a href="{{ file }}" class="text-white">{{ file }}</a></h3>
		</div>
	{% endfor %}

	<div class="container">
		<div class="btn btn-primary"><a href="{{ get_base_path() }}/admin/" class="text-white">管理者メニュートップへ戻る</a></div>
	</div>
{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
