{% set page_title = "リクエストの削除" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}


{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			リクエストの削除
		</h2>
		<p>以下のリクエストを削除します。</p>
	</div>

		<div class="container rx-5 mx-5">
			<p>requestID：{{ id }}</p>
			<p>タイトル：{{ title }}</p>
		</div>

		<form action="delete" method="POST">
			<input type="submit" value="　削除　">
			{{ csrf_field() | raw }}
		</form>
		<form action="../../" method="GET">
			<input type="submit" value="　キャンセル　">
		</form>
{% endblock %}

{# フッタ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
