{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# タイトル #}
{% block title %} 承認待ちリクエスト一覧 {% endblock %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			承認待ちリクエスト一覧
		</h2>
		<div class="container rx-5 mx-5">
			<p>
				操作を行うリクエストを選択してください。
				他人のリクエストの場合は承認画面、自分のリクエストの場合は削除画面にリンクします。
			</p>
		</div>
	</div>

	{% for request in requests %}
		<div class="d-flex align-items-center  text-white bg-primary px-5 mb-5">
			<h3 class="h2"><a href="request/{{ request.id }}/" class="text-white">No.{{ request.id }} {{ request.title }}</a></h3>
		</div>
	{% endfor %}

{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
