{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# タイトル #}
{% block title %} 更新リクエスト処理結果 {% endblock %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			更新リクエスト処理結果
		</h2>
		<div class="container rx-5 mx-5">
			<p>
				{{ message }}
			</p>
		</div>
	</div>
{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
