{% set page_title = "私たちについて" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			私たちについて
		</h2>
		<div class="container p-5">
			<p>
				ACT Laboratory(Accessible Tools Laboratory)は、プログラミングを学ぶ視覚障害者の集まりです。<br />
			</p>
			<p>
				私たちは、画面読み上げソフト（スクリーンリーダー）で使用できるソフトウェアの開発を行っています。<br />
				１人でも多くの方に利用していただける、より便利で、より使いやすいソフトウェアを開発すべく活動を続けています。<br />
				ここで公開しているソフトウェアを利用してのご意見やご感想は、電子メールや掲示板への書き込みなどでお知らせください。<br />
				皆様から頂くご意見も参考にしながら、よりよいソフトウェアを制作していければと思っています。<br />
			</p>
		</div>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">団体概要</h3>
	</div>

	<div class="container p-5">
		<table class="table">
			<tr class="">
				<th>名称</th>
				<td>Accessible Tools Laboratory (アクセシブル・ツールズ・ラボラトリ)</td>
			</tr>
			<tr>
				<th>活動内容</th>
				<td>
					<ol>
						<li>アクセシビリティに配慮されたソフトウェアおよびサービスの開発と普及啓発</li>
						<li>アクセシビリティに配慮された製品を開発できる人材の育成と相互交流の推進</li>
						<li>その他、当会の目的を達成するために必要な事業</li>
					</ol>
				</td>
			</tr>
			<tr>
				<th>設立</th>
				<td>2020年12月26日</td>
			</tr>
			<tr>
				<th>会員数</th>
				<td>５名 (設立日現在)</td>
			</tr>
			<tr>
				<th>所在地</th>
				<td>東京都世田谷区</td>
			</tr>
			<tr>
				<th>活動場所</th>
				<td>東京都内・オンライン</td>
			</tr>
			<tr>
				<th>連絡先</th>
				<td>
					<ul>
						<li>メール ：support (at) actlab.org</li>
						<li>Twitter：<a href="https://twitter.com/act_laboratory">@act_laboratory</a> ※全てのアカウントからのダイレクトメッセージを受け入れています。
						<li>掲示板 ：<a href="{{ get_base_path() }}/bbs/">こちら</a>
				</td>
			</tr>
		</table>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">メンバー紹介</h3>
	</div>

	{% for member in members %}
		<div class="card">
			<div class="card-body">
				<div class="card-title">
					<div class="d-flex align-items-center px-5">
						<h4 class="h2">{{ member.name }}</h4>
					</div>
				</div>
				<div class="card-text">
					<div class="row">
						<div class="col-sm-9">
							<div class="container pl-5">
								<p>{{ member.introduction | raw | nl2br }}</p>
							</div>
						</div>
						<div class="hidden-xs col-sm-3">
							{{ member.links | raw }}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
