{% set title = "トップ" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron text-center">
		<h2>
			ようこそ、ラボへ！
		</h2>
	</div>
	{# SNSボタンエリア #}
	<div style="display: flex; align-items: center; justify-content: flex-end; flex-wrap: wrap; margin: 10px">
		<span style="margin: 5px"><a href="https://twitter.com/act_laboratory?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @act_laboratory</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span>
		<span style="margin: 5px"><a class="btn btn-success" href="https://www.github.com/actlaboratory/">GitHub</a></span>
	</div>
	<div class="row text-left">
		<div class="col-lg-2">
			<h3>新着情報</h3>
		</div>
		<div class="col-lg-10">
			{% for info in informations %}
				<div class="row">
					<div class="col-md-3 col-lg-2">
						{{ info.date }}
					</div>
					<div class="col-md-9 col-lg-10">
						{% if info.url != null %}
							<a href="{{ info.url }}">{{ info.title }}</a>
						{% else %}
							{{ info.title }}
						{% endif %}
					</div>
				</div>
			{% else %}
				<div class="row">
					現在、お知らせはありません。
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
