{% set page_title = "公開するソフトウェアについて" %}
{% set page_description = "当サイトが公開するソフトウェアの動作環境や利用条件など、一般的な情報を掲載しています。" %}


{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			公開するソフトウェアについて
		</h2>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">動作環境について</h3>
	</div>
	<div class="container p-5">
		<p>
			当サイトで公開するソフトウェアの動作には、以下の環境が必要です。
		</p>
		<ul>
			<li>OS: Windows10以上</li>
			<li>画面を目視確認する場合は、HDサイズ（横1280ドット、縦720ドット）以上の表示領域</li>
			<li>音声読み上げ機能を使用する場合は、コンピュータから音の出る環境</li>
		</ul>
		<p>
			また、以下のスクリーンリーダーにて読み上げ確認を行っております。
		</p>
		<ul>
			<li>PC-Talker 10</li>
			<li>NVDA日本語版 2020.3jp</li>
			<li>JAWS 2020 日本語版</li>
		</ul>
		<p></p>	<!-- 余白の為 -->
		<p>上記の環境が快適に動作するコンピュータでご利用ください。</p>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">利用条件について</h3>
	</div>
	<div class="container p-5">
		<p>当サイトで無償公開しているソフトウェア(有償ソフトウェアの体験版は除きます)は、GPLやApache license v2などのライセンスの下で配布される、オープンソースソフトウェアです。</p>
		<p>各ソフトウェアのライセンスに基づき、営利・非営利を問わず自由に利用することができます。また、再配布等についても、大きな制限は設けておりません。詳細はそれぞれのソフトウェアにより異なりますので、各ソフトウェアに同梱しているlicense.txtファイルを参照してください。</p>
		<p>なお、各所でご紹介や配布などして頂ける際は、当ラボまでご一報いただけますと幸いです。内容にもよりますが、ラボのTwitter等でご紹介させて頂きたいと考えております。</p>
	</div>
{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
