{% set page_title = "ソフトウェアのオフライン登録" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	{% if message!=null %}
		<div class="alert-danger p-3">
			{{ message | nl2br }}
		</div>
	{% endif %}

	<div class="jumbotron">
		<h2 class="text-center">
			ソフトウェアのオフライン登録
		</h2>
		<div class="container py-5 text-center">
			<p>
				こちらは、インターネット接続の制限等によりオンライン認証ができないコンピュータでソフトウェアを利用するために、ライセンスファイルを発行するためのページです。
				使用しているソフトウェアの指示に従い、購入時に取得したシリアルキーとオフライン認証コードを入力してください。
			</p>
			<p>
				オフライン認証コードは、コンピュータ固有の値です。
				必ず<u><b>ソフトウェアを利用するコンピュータで取得</b></u>したものを入力してください。
			</p>
			<p>
				認証に成功すると、画面は変化せずライセンスファイルがダウンロードされます。お使いのブラウザの指示に従って保存し、ソフトウェアを使用するPCに移動してください。
			</p>
		</div>
	</div>


	<div class="text-white bg-primary p-1">
		<h3>購入情報の入力</h3>
	</div>
	<form method="POST">
		<div class="container py-5">
			<div class="row mb-3">
				<div class="col-3">
					<label>シリアルキー</label>
				</div>
				<div class="col-9">
					<input type="text" name="serial_key" required value="{{ serial_key }}">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-3">
					<label>オフライン認証コード</label>
				</div>
				<div class="col-9">
					<input type="text" name="offline_auth_code" required value="{{ offline_auth_code }}">
				</div>
			</div>

			<input type="submit" value="認証">
		</div>
		{{ csrf_field() | raw }}
	</form>

{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
