{% set page_title = "新人エンジニア候補者募集のご案内" %}
{% set page_description = "ラボのメンバーと一緒に、プログラミングをやってみませんか？ 「自分でソフトを作れるようになりたい」「作りたいものがある」という視覚障害のある10代の方、ラボのメンバーが可能な限りサポートします。
" %}


{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			新人エンジニア候補者募集のご案内
		</h2>
	</div>

	<div class="container p-2">
		<p>ラボのメンバーと一緒に、プログラミングをやってみませんか？</p>
		<p>将来は<a href="https://nyanchangames.com/">にゃんちゃんの家の猫ちゃん</a>のようなゲーム作者になるもよし、ウェブ上で新サービスを起こすもよし、ツール系ソフトが好きな方はラボのレギュラーメンバーになるもよしです。</p>「自分でソフトを作れるようになりたい」「作りたいものがある」という方、ラボのメンバーが可能な限りサポートします。
		<p>話を聞いてみたい、興味があるというだけでも大丈夫なので、気軽にご連絡ください。まずはZoom等でお話しましょう。</p>
	</div>


	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">募集対象</h3>
	</div>
	<div class="container p-5">
		<ul>
			<li>自分でソフトを作れるようになりたい方、もしくはソフトウェア開発の経験がある方(とくに、作りたいもののアイデアがある方は歓迎します)</li>
			<li>視覚に障害がある中学生～19歳までの方(例外的に、20代前半の大学・就業年限3年以上の専門学校の1年生も可)</li>
			<li>WindowsのPCを用いて、GoogleやYahooでの検索を含むウェブの閲覧操作・メールの送受信・文書編集を一人で行える方</li>
			<li>通信容量を気にする必要のないインターネット接続環境をお持ちの方</li>
		</ul>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">代表からのメッセージ</h3>
	</div>
	<div class="container p-5">
		<p>IT機器やサービス、それらのアクセシビリティの重要性が日に日に増しています。私たち障害者が暮らしやすい社会の実現に不可欠なアクセシビリティ向上を実現するには、ひとりでも多くの当事者が各企業での解発の現場や、国際的な開発者のコミュニティに関わっていくことが効果的です。</p>
		<p>また、当ラボは若い視覚障碍者の集まりということになっていますが、何もしなければすぐに高齢化し、そして衰退してしまいます。社会人だからこそできることももちろんありますが、活動に使える時間やエネルギーは学生メンバーの方が圧倒的におおいのです。</p>
		<p>そして何より、仲間が増えること・賑やかになることで普段の活動もずっと楽しくなります。そんなわけで、若い皆さんのチャレンジを是非応援させてもらえたらと思っています。</p>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">ラボが支援できること</h3>
	</div>
	<div class="container p-5">
		<ul>
			<li>日常的に、もしくは職業としてプログラミングをしているメンバーとの交流</li>
			<li>プログラミングの学習方法や視覚障害者でも読みやすい入門者向け資料の紹介</li>
			<li>視覚障害者がプログラミングする環境(使うソフトやその設定など)の構築に向けた序言</li>
			<li>プログラミング中に生じた疑問や、自力で解決できなくなったエラーの解決に向けた助言</li>
			<li>外部との連携や少額の資金が必要になった際の支援</li>
			<li>成果物ができた場合の周知への協力や、有償の場合は販売支援</li>
			<li>エンジニアとしての進学や修飾を希望する場合のアドバイス</li>
			<li>基本情報技術者・情報処理安全確保支援士(セキュリティスペシャリスト)など国家資格の取得に向けた学習資料の提供や受験に向けたアドバイス</li>
		</ul>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">そのた</h3>
	</div>
	<div class="container p-5">
		<ul>
			<li>会費その他の費用をいただくことはありません。</li>
			<li>PC-Talkerでのプログラミング作業には数々の困難を伴います。音声読上げを利用する方は、NVDAまたはJAWSをお使いください。</li>
		</ul>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">ご連絡先</h3>
	</div>
	<div class="container p-5">
		<p>
			お名前、学年(年齢)、作りたいもの(アイデアがある場合)、当ラボを知ったきっかけ、その他簡単な自己紹介・直近の土日で都合の良い時間帯の候補(できるだけ複数)を書いて、
			メールにてsupport★actlab.org、またはTwitterのDMにて@act_laboratoryまでお送りください。(※メールは★を@に変えてお送りください)
		</p>
	</div>

{% endblock %}

{# フッタ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
