{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# タイトル #}
{% block title %} 公開情報・規約等 {% endblock %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			公開情報・規約等
		</h2>
	</div>
	<div class="container p-5">
		<h3>当サイト・配布ソフトウェアをご利用の皆様へ</h3>
		<ul>
			<li><a href="policy">プライバシーポリシー</a></li>
		</ul>

		<h3>ラボの公開情報</h3>
		<ul>
			<li><a href="/public/disclose/actlab_statute.pdf">AccessibleToolsLaboratory　定款</a></li>
			<li><a href="/public/disclose/minutes/actlab_minutes_20201227.pdf">設立総会議事録(2020年12月26日)</a></li>
		</ul>

	</div>

{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
