{% set page_title = "特定商取引法に基づく表示" %}
{% set page_type = "website" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
<meta name="robots" content="noindex">
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			特定商取引法に基づく表示
		</h2>
	</div>

	{% for title,body in info %}
		<div class="row my-3">
			<div class="col-md-3 col-lg-2 pr-1" style="word-break: keep-all;">
				<h3 style="font-size: 1.00rem;">
					{{ title | raw }}
				</h3>
			</div>
			<div class="col-md-9 col-lg-10">
				{{ body | nl2br }}
			</div>
		</div>
	{% endfor %}
{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
