{% set page_title = "プライバシーポリシー" %}
{% set page_description = "当サイト、および配布するソフトウェアにおけるプライバシーポリシーを公開しています。" %}


{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			プライバシーポリシー
		</h2>
	</div>
	<div class="container p-5">
		<p>
			　当サイトの運営者は、配布するソフトウェアやサービスを利用していただいた方、お問い合わせをいただいた方などから個人情報をお預かりする場合があります。
			お預かりした情報の取扱いに当たっては、個人情報保護の重要性について認識し、個人情報の保護に関する法律（以降単に「法」といいます）を遵守するとともに、本ポリシーに従って適切な取扱い及び保護に努めます。
		</p>

		<h3 class="text pl-4 pt-2">(収集する情報の種類と利用目的)</h3>

		<h4>1.以下に定める目的と手段により、個人情報を取得します。</h4>
		<ul>
			<li>
				当サイトでは、ウェブの閲覧やソフトウェア利用中の通信にあたり、通信の記録を取得します。<br>
				この記録にはIPアドレス、使用したブラウザの情報、閲覧したページの情報(URL等)が含まれます。<br>
				この情報はウェブサイトの運営・閲覧状況の分析当の目的で利用します。
			</li>
			<li>
				当サイトでは、閲覧状況の分析、サービスや機能の提供、その他の目的で他社のサービスを利用する場合があり、その際に他者を通じて情報を取得する場合があります。<br>
				この場合には本ページにおいて利用する他者サービスの情報を公表します。
			</li>
			<li>
				有償で販売する商品を購入される方からは、購入者の氏名または名称とメールアドレスを取得します。
				取得した情報は購入履歴の管理、購入された製品の認証(アクティベーション)、シリアルコード紛失時のためのメール再送機能の提供、入金記録の確認と照合、お客様から頂いたお問い合わせへの対応、領収証その他の帳票の発行、購入手続きや利用に関わる重要な事項の連絡、その他製品の販売と代金の回収および不正コピーの防止と発見に必要な範囲で利用します。
				なお、クレジットカード決済にて購入された場合でも、カード番号・有効期限・セキュリティコード・3Dセキュアの認証に用いるパスワードの情報を運営者が取得することはありません。
			</li>
			<li>
				利用者からの問い合わせその他の連絡の際に、ご連絡内容及び返信に必要な情報(メールアドレス等のご連絡先を含む)、通信記録等を取得します。<br>
				取得した情報はいただいたお問い合わせへのお返事その他の利用者への連絡のほか、サイトやソフトウェアの改善のために利用し、個人が特定されない範囲で開発協力者に共有する場合があります。
			</li>
			<li>
				<a href="https://lamp.actlab.org/">LAMP Controller</a>をご利用いただく場合、ID・パスワード・表示名を登録して頂きます。また、LAMPの利用状況や、ディレクトリ内に保存されたファイルの構成の情報を登録する機能があります。このサービス内で取得した情報は、本ポリシーに従って取り扱い、サービスの提供やお問い合わせへの対応に最低限必要な範囲内でのみ利用します。ただし、個人を特定できないよう加工したうえで統計情報を作成・利用・公開する場合があります。
			</li>
		</ul>

		<h3 class="text pl-4 pt-2">(取得した情報の管理及び保管)</h3>
		<h4>2.運営者は、取得した情報が破壊・漏洩・滅失・改ざんなどされることのないよう、適切な管理に努めるものとします。</h4>

		<h3 class="text pl-4 pt-2">(取得した情報の第三者提供)</h3>

		<h4>3.以下の場合を除き、あらかじめ本人の同意を得ることなく第三者に情報を提供することはありません。</h4>
		<ul>
			<li>個人情報保護法その他の日本国の法令で認められる場合</li>
			<li>本サイトの運営、ソフトウェアの開発と提供、ユーザサポート、その他付随する業務を第三者に委託するため、委託先と情報の共有が必要な場合</li>
			<li>当サイトのコンテンツまたはソフトウェアの開発、サポート等の一部または全部を他社に譲渡する場合</li>
		</ul>

		<h3 class="text pl-4 pt-2">(本人からの申出による保有情報の開示・修正・削除)</h3>

		<h4>4.運営者は、本人から法に基づく保有情報の開示・修正・削除の申し出があった場合、本人からの申し出であることを確認のうえで、遅滞なくこれに応じるよう努めます。</h4>
		<p class="text pl-3">
			申し出に必要な連絡先は、ウェブサイト上に掲載します。<br>
			ただし、通信記録等、開示・修正・削除にあたり本人確認が困難な情報や対応に過分のコストを要する情報についての申し出、法の定める要件を満たさない申し出についてはこの限りではありません。
		</p>

		<h3 class="text pl-4 pt-2">(本規定の改正)</h3>

		<h4>5.本ポリシーは、法令改正への対応や個人情報保護体勢の継続的な改善、提供サービスや配布ソフトウェアの追加その他の事情により適宜見直します。
　　　　内容に変更がある場合には、ウェブサイト上に変更後の内容を掲載することにより利用者に通知することとし、原則として掲載の時から新たな文面が効力を生じます。</h4>
		<p class="text pl-3">ただし、過去に提供を受けた情報の取り扱いを変更する場合には、掲載から効力発生までの間に14日以上の猶予期間を置くものとします。</p>

		<h3 class="text pl-4 pt-2">(他者サービスとの連携状況)</h3>

		<h4>6.当サイトでは、閲覧状況の分析のためにGoogle Analyticsを利用しています。</h4>
		<p class="text pl-3">
		</p>

		<h4>7.Simple OCR Controllerには、Google社が提供するOCRエンジンを利用する機能があります。</h4>
		<p class="text pl-3">
			この機能を利用した場合でも、運営者は認識画像や認識結果を含む一切の情報を取得しません。<br>
			Googleにおける取得情報については、Googleの定めるポリシーによります。Google Driveおよび Google Docsを利用しています。<br>
			運営者は利用者に関わる一切の情報の取得・利用を予定していませんが、万一Googleとのアカウント連携により運営者が意図せず利用者の情報を取得できる環境下に置かれた場合、取得情報は利用状況の統計的な把握および利用者からの問い合わせへの応答以外の目的には利用しません。
		</p>

		<h4>8.windows Native Peing ConnectorおよびUniversal Live Tracking and Recording Appには、Twitterと連携し、フォロー一覧を取得する機能があります。</h4>
		<p class="text pl-3">
			この機能を利用した場合でも、運営者は利用したアカウントに関する一切の情報を取得しません。<br>
			連携後の通信の為にTwitterから発行されるトークンはソフトウェア起動中のみ保持され、運営者には送信されません。
		</p>

		<h4>9.当サイト上で行うクレジットカード決済には、PAY株式会社が提供する決済サービス「Pay.jp」を利用しています。</h4>
		<p class="text pl-3">
			運営者は、支払の受領やチャージバックへの対応、不正な決済の防止のため必要がある際には、PAY株式会社またはクレジットカード決済に関わる者に対して購入者の個人情報を提供する場合があります。
		</p>

	</div>

{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
