{% set page_title = "プライバシーポリシー" %}
{% set page_description = "当サイト、および配布するソフトウェアにおけるプライバシーポリシーを公開しています。" %}


{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			プライバシーポリシー
		</h2>
	</div>
	<div class="container p-5">
		<p>
			　当サイトの運営者は、閲覧者および配布するソフトウェアの利用者から以下の規定の定めに従って個人を特定できる情報(以下、単に情報という)を収集・利用します。
		</p>

		<h3 class="text pl-4 pt-2">(収集する情報の種類と利用目的)</h3>

		<h4>1.以下に定める目的と手段により情報を取得します。</h4>
		<ul>
			<li>
				当サイトでは、ウェブの閲覧やソフトウェア利用中の通信にあたり、通信の記録を取得します。<br>
				この記録にはIPアドレス、使用したブラウザの情報、閲覧したページの情報(URL等)が含まれます。<br>
				この情報はウェブサイトの運営・閲覧状況の分析当の目的で利用します。
			</li>
			<li>
				当サイトでは、閲覧状況の分析、サービスや機能の提供、その他の目的で他社のサービスを利用する場合があり、その際に他者を通じて情報を取得する場合があります。<br>
				この場合には本ページにおいて利用する他者サービスの情報を公表します。
			</li>
			<li>
				利用者からの問い合わせその他の連絡の際に、ご連絡内容及び返信に必要な情報、通信記録等を取得します。<br>
				取得した情報は利用者への連絡のほか、サイトやソフトウェアの改善のために利用し、個人が特定されない範囲で開発協力者に共有する場合があります。
			</li>
			<li>
				<a href="https://lamp.actlab.org/">LAMP Controller</a>をご利用いただく場合、ID・パスワード・表示名を登録して頂きます。また、LAMPの利用状況や、ディレクトリ内に保存されたファイルの構成の情報を登録する機能があります。このサービス内で取得した情報は、本ポリシーに従って取り扱い、サービスの提供やお問い合わせへの対応に最低限必要な範囲内でのみ利用します。ただし、個人を特定できないよう加工したうえで統計情報を作成・利用・公開する場合があります。
		</ul>

		<h3 class="text pl-4 pt-2">(取得した情報の第三者提供)</h3>

		<h4>2.以下の場合を除き、あらかじめ本人の同意を得ることなく第三者に情報を提供することはありません。</h4>
		<ul>
			<li>個人情報保護法その他の日本国の法令で認められる場合</li>
			<li>本サイトの運営、ソフトウェアの開発と提供、ユーザサポート、その他付随する業務を第三者に委託するため、委託先と情報の共有が必要な場合</li>
			<li>当サイトのコンテンツまたはソフトウェアの開発、サポート等の一部または全部を他社に譲渡する場合</li>
		</ul>

		<h3 class="text pl-4 pt-2">(本人からの申出による保有情報の開示・修正・削除)</h3>

		<h4>3.運営者は、本人から保有情報の開示・修正・削除の申し出があった場合、遅滞なくこれに応じるよう努めます。</h4>
		<p class="text pl-3">
			申し出に必要な連絡先は、ウェブサイト上に掲載します。<br>
			ただし、通信記録等、開示・修正・削除にあたり本人確認が困難なものおよび申し出に応じることで過分のコストを要する情報についてはこの限りではありません。
		</p>

		<h3 class="text pl-4 pt-2">(本規定の改正)</h3>

		<h4>4.本規定は、ウェブサイト上に変更後の内容を掲載することにより、運営者がいつでも改正できるものとします。</h4>
		<p class="text pl-3">ただし、過去に提供を受けた情報の取り扱いを変更する場合には、掲載から効力発生までの間に14日以上の猶予期間を置くものとします。</p>

		<h3 class="text pl-4 pt-2">(他者サービスとの連携状況)</h3>

		<h4>5.当サイトでは、閲覧状況の分析のためにGoogle Analyticsを利用しています。</h4>
		<p class="text pl-3">
		</p>

		<h4>6.Simple OCR Controllerには、Google社が提供するOCRエンジンを利用する機能があります。</h4>
		<p class="text pl-3">
			この機能を利用した場合でも、運営者は認識画像や認識結果を含む一切の情報を取得しません。<br>
			Googleにおける取得情報については、Googleの定めるポリシーによります。Google Driveおよび Google Docsを利用しています。<br>
			運営者は利用者に関わる一切の情報の取得・利用を予定していませんが、万一Googleとのアカウント連携により運営者が意図せず利用者の情報を取得できる環境下に置かれた場合、取得情報は利用状況の統計的な把握および利用者からの問い合わせへの応答以外の目的には利用しません。
		</p>

		<h4>7.windows Native Peing ConnectorおよびUniversal Live Tracking and Recording Appには、Twitterと連携し、フォロー一覧を取得する機能があります。</h4>
		<p class="text pl-3">
			この機能を利用した場合でも、運営者は利用したアカウントに関する一切の情報を取得しません。<br>
			連携後の通信の為にTwitterから発行されるトークンはソフトウェア起動中のみ保持され、運営者には送信されません。
		</p>

	</div>

{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
