{% set page_title = "販売およびライセンスの条件" %}
{% set page_description = "当サイトにおけるソフトウェアの販売や有償ライセンスについて詳細を説明しています。" %}


{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			販売およびライセンスの条件
		</h2>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">ご購入前の確認事項</h3>
	</div>
	<div class="container p-5">
		<p>
			当ラボが販売するソフトウェアには、製品版と同じ機能を一定の時間に限って無償で利用できる体験機能がついています。
			製品を購入される前に体験版をご利用いただき、お使いのコンピュータで正しく動作することを必ずご確認ください。
			製品を購入された場合、いかなる理由があっても、返金にはご対応できません。
		</p>
	</div>
	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">体験版の利用について</h3>
	</div>
	<div class="container p-5">
		<p>
			体験版の実行には、インターネット接続が必要です。
			体験版は、各コンピュータで180日間に3回まで実行できます。
			体験版は、起動してから30分間、機能制限なしに使用できます。
		</p>
		<p>
			30分の時間制限終了後は、使用が制限されます。
			たとえば、HISSにおいては音声を読み上げる毎に効果音が挿入され、試用しにくくなります。
		</p>
	</div>
	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">ライセンスの種類</h3>
	</div>
	<div class="container p-5">
		<p>
			ライセンスには、以下の3種類があります。
			価格については、各ソフトウェアの購入ページを参照してください。
			価格は、特に中期のない限り税込で表示しています。
		</p>
		<dl>
			<dt>
				個人利用限定版
			</dt>
			<dd>
				個人の方が自費で購入され、非営利目的で利用されることを条件に販売する割引版です。
				営利目的での利用、施設・法人等での利用はできません。
				また、領収証・見積書等の発行は行っておりません。
			</dd>
			<dt>
				通常版
			</dt>
			<dd>
				もっとも一般的なバージョンです。
				施設・法人等による営利目的での利用も可能です。
				必要な場合には領収証の発行も行います。
				ただし、製品の再販はできません。
			</dd>
			<dt>
				5ライセンスパック
			</dt>
			<dd>
				通常版5ライセンスをセットにして、お得に購入できるようにしたパックです。
				購入すると、通常版のライセンス(シリアルキー)が5個発行されます。
				ライセンス(シリアルキー)単位での再販が可能です。
			</dd>
		</dl>
	</div>
	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">ライセンス認証について</h3>
	</div>
	<div class="container p-5">
		<p>
			当ラボが販売するソフトウェアは、体験版と製品版が共通のパッケージとなっています。
			製品を利用する場合も、まずは各ソフトウェアのページより最新版をダウンロードしてください。
			その後、各ソフトウェアに同梱されているマニュアルの指示に従ってライセンス認証を行ってください。
		</p>
		<p>
			ライセンスの認証には、原則としてインターネット接続が必要です。
			購入時に発行されるシリアルキーを入力し、ラボのサーバと通信することでお使いのコンピュータを登録します。
　　　　　　なお、通信に必要なIPアドレスのほかには、個人を識別できる情報は収集しておりません。
		</p>
		<p>
			ソフトウェアを使用するコンピュータでインターネットに接続できない場合、インターネット接続が可能な別のコンピュータで代行認証を行うことができます。
			この機能を使用する場合、コンピュータ間でのファイルの転送（例:USBメモリやファイルサーバを経由したファイルの受け渡し）が行える必要があります。
			細かな手順については、ソフトウェアに同梱しているマニュアルを参照してください。
		</p>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">ライセンス認証の回数と利用できるコンピュータの数について</h3>
	</div>
	<div class="container p-5">
		<p>
			1つのライセンスで使用できるのは、1台のコンピュータのみです。
			複数のコンピュータでソフトウェアを利用する場合、原則として利用するコンピュータの台数分のライセンスをご購入いただく必要があります。
		</p>
		<p>
			ライセンス認証は、1つのライセンス(シリアルキー)あたり、1年間に3回まで行えるようになっています。
			これは、PCの買い替えや修理等の際のための措置であり、3台のコンピュータでの利用ができるということではありません。
			なお、過去に認証したことがあるコンピュータで再度認証を行った場合、認証回数を消費しません。
			ただし、Windowsの再インストールを行うと、高確率で別のコンピュータとして扱われます。
			この場合、当該コンピュータで過去に認証を行っていても再度認証が必要となり、認証回数を1回消費します。
		</p>
		<p>
			なお、いかなる理由であっても、認証回数の緩和や履歴のリセットを行うことはできません。
			認証回数を消費しすぎないよう、十分ご注意ください。
		</p>
	</div>
	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">複数のコンピュータでの利用について</h3>
	</div>
	<div class="container p-5">
		<p>
			視覚に障害のある方がソフトウェアを非営利で利用し、インストールする全てのコンピュータを専ら購入者自身のみが利用する場合に限り、複数台のコンピュータでの利用を認めています。
			例えば、自宅で使用するデスクトップパソコンと、外出先で使用するノートパソコンの両方でソフトウェアを使用したいといった場合、各コンピュータ用に別途ライセンスを購入する必要はありません。
		</p>
		<p>
			ただし、この場合であっても認証回数の上限は1つのシリアルキーについて1年間に3回までで、通常の場合と同じです。
			認証回数の上限に達した場合、追加でライセンスをご購入いただくか、期間をあけて認証し直す必要がありますので、1ライセンスあたり2台までの利用を推奨しています。
		</p>
		<p>
			なお、ここでいう「視覚に障害のある方」とは、視覚障害の記載のある身体障碍者手帳を保有する方、視覚障害を理由として障害基礎年金または障害厚生年金を受給している方、視覚の障害を理由として特別支援教育または障害者を対象とする職業訓練を受けている(または受けていた)方、または視覚の利用に際してそれらの方と同等以上の制限を有する方です。
		</p>
	</div>
	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">シリアルキーの取り扱い</h3>
	</div>
	<div class="container p-5">
		<p>
			ソフトウェアをご購入いただくと、ご購入の証明としてライセンス認証に必要となる「シリアルキー」を発行します。
			シリアルキーは、他人に知られないよう、また、紛失しないように十分ご注意ください。
			シリアルキーを紛失された場合、基本的には、再度製品をご購入いただく必要がございます。
		</p>
		<p>
			現在、購入時に利用したメールアドレスを引き続き利用できる方を対象にシリアルキーを再発行できるフォームを用意しておりますが、将来にわたる本機能の提供を保証いたしません。
		</p>
	</div>
	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">代金のお支払方法</h3>
	</div>
	<div class="container p-5">
		<p>
			代金のお支払い方法には、クレジットカード払い（Visa/master/JCB/Discover/Diners）と銀行振り込み（三菱UFJ銀行）をご利用いただけます。
			ただし、銀行振り込みでのご購入の場合、別途支払い事務手数料（500円+税）が必要です。
		</p>
		<p>
			クレジットカードでのお支払いの場合、注文手続きの際にクレジットカード番号等の必要情報を入力して頂きます。
			購入手続き完了後、数分以内にシリアルキーが自動で発行され、購入時にご入力いただいたメールアドレスへ送付されます。
			なお、クレジットカードの明細には「ACT Laboratory」と表示されます。
		</p>
		<p>
			銀行振込の場合、購入手続き完了から数分以内に、お振込み先等を記載したメールをお送りします。
			メールの案内に従い、手続きの翌日から起算して７日以内にお振込みください。
			お振込確認後、５営業日以内にメールにてシリアルキーをお送りします。
			なお、振込にかかる手数料はご負担ください。
		</p>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">領収証の発行について</h3>
	</div>
	<div class="container p-5">
		<p>
			当ラボでは、原則として領収証の発行を行っておりません。
			クレジットカード会社より発行される利用明細書、または銀行振込時の控えを領収書としてご利用ください。
		</p>
		<p>
			ただし、法人での経費精算等のために当ラボが発行する領収書がどうしても必要なん場合などには、メールにてご依頼いただければとくべつに発行いたします。
			その場合には、support(at)actlab.org宛に電子メールで下記の事項をお知らせください。
		</p>
		<ul>
			<li>
				注文番号（複数注文番号の合算も可能）
			</li>
			<li>
				購入時に入力した購入者名
			</li>
			<li>
				希望する領収書の宛名
			</li>
			<li>
				希望する受け取り方法（メール・郵送）
			</li>
			<li>
				希望する但し書き（指定がなければ「ソフトウェア代金として」になります）
			</li>
		</ul>
		<p>
			メールでの受け取りを希望された場合、ご注文時に入力いただいたメールアドレス宛にPDFファイルで送付いたします。
			郵送での受け取りを希望される場合には、上記必要事項に加えて、郵便番号、住所、宛名をご記入ください。
			なお、領収証の発行には、最大10営業日お時間をいただきます。
			領収証の日付は、クレジットカードでお支払いの場合には注文完了日、銀行振込でお支払いの場合にはラボの口座への着金日を記載します。
		</p>
	</div>


	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">請求書・見積書について</h3>
	</div>
	<div class="container p-5">
		<p>
			原則として発行を行っておりませんが、どうしても必要な場合にはsupport(at)actlab.org宛に下記の事項を添えてご依頼ください。
			電子メールにてPDFファイルで発行します。
			なお、発行には最大10営業日程度お時間をいただきます。
		</p>
		<ul>
			<li>
				発行を希望する書類の種類
			</li>
			<li>
				書類に記載する宛名
			</li>
			<li>
				品名およびライセンスの種類
			</li>
			<li>
				購入予定本数
			</li>
			<li>
				希望の支払方法
			</li>
		</ul>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">各ソフトウェア固有の事項</h3>
	</div>
	<div class="container p-5">
		<h4>HISSで生成した音声の2次利用について</h4>
		<p>
			HISSで生成(出力)された音声やその録音物の利用については、下記の通りとさせて頂いております。
			基本的には、CDなどで販売されている音楽と同じようにお考え下さい。
			どうしても判断に迷う場合には、お問い合わせください。
		</p>

		<ul>
			<li>
				ご購入者自身で聞くための利用(私的使用)は、制限なく行うことができます。<br>
				例:
				<ul>
					<li>音声を録音し、メモの代わりに利用する。</li>
					<li>家庭内や少数の友人等と一緒に音声を使って読書をする。</li>
					<li>学校で購入し、生徒と先生のみの教室や学内イベントで利用する。</li>
				</ul>
			</li>
			<li>
				有償・無償に関わらず、音声をインターネットで公開(自動公衆送信)したり、CDや電子メール等で配布(他人に聞かせる目的での複製・譲渡・演奏)をすることはできません。<br>
				例:
				<ul>
					<li>多くの人が集まるイベントのアナウンスに利用する。</li>
					<li>音声図書の作成に利用し、でき上がった図書を配布する。</li>
					<li>動画のナレーションに利用し、作成した動画をインターネットで公開する。</li>
				</ul>
			</li>
			<li>
				例外として、本製品や視覚障害者のパソコン利用環境、就労状況等を紹介する目的で短時間(目安としては１分程度以内)の音声を利用する場合に限り、他人に聞かせる目的での複製・配布やインターネットへの公開等も許可しています。この場合も、事前の連絡は不要です。<br>
				例:
				<ul>
					<li>ライブ配信やポッドキャスト等で、本製品を紹介するために、NVDAで利用している様子を短時間放送する。</li>
					<li>視覚障害者でもパソコン操作ができること、NVDAの利用が就労につながっていることなどを紹介する目的で、起業のホームページや動画共有サイトに公開する動画内で短時間の音声を挿入する。</li>
					<li>NVDAやSAPIに対応した様々な音声を少しずつ収録したサンプルCDを作成し、購入を検討している人に配布する。</li>
				</ul>
			</li>
		</ul>
	</div>
{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
