{% set page_title = "管理者ページ" %}
{#レイアウト継承#}
{% extends "layout/layout.twig" %}


{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	{% if message!=null %}
		<div class="alert-danger p-3">{{ message }}</div>
	{% endif %}

	<div class="jumbotron">
		<h2 class="text-center">
			管理者ページ
		</h2>
		<div class="container rx-5 mx-5">
			<p></p>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<div class="card-title bg-primary">
				<h3><a href="request" class="text-white">更新リクエストの確認</a></h3>
			</div>
			<div class="card-text">
				<div class="container pl-5">
					<p>他のメンバーからの更新リクエストの承認、自分が出した更新リクエストの削除を行います。</p>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<div class="card-title text-white bg-primary">
				<h3><a href="softwares/edit/NEW" class="text-white">新規ソフトウェア公開</a></h3>
			</div>
			<div class="card-text">
				<div class="container pl-5">
					<p>GitHubでの準備が整ったソフトの公開作業を行います。</p>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<div class="card-title text-white bg-primary">
				<h3><a href="softwares/" class="text-white">公開済みソフトウェア管理</a></h3>
			</div>
			<div class="card-text">
				<div class="container pl-5">
					<p>公開中ソフトウェアの上方修正・アップデート配信を行います。</p>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<div class="card-title text-white bg-primary">
				<h3><a href="informations" class="text-white">お知らせ配信</a></h3>
			</div>
			<div class="card-text">
				<div class="container pl-5">
					<p>トップページに掲載するお知らせの配信を行います。</p>
				</div>
			</div>
		</div>
	</div>


	<div class="card">
		<div class="card-body">
			<div class="card-title text-white bg-primary">
				<h3><a href="profile" class="text-white">プロフィール修正</a></h3>
			</div>
			<div class="card-text">
				<div class="container pl-5">
					<p>メンバー情報を修正します。</p>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<div class="card-title text-white bg-primary">
				<h3><a href="logviewer/" class="text-white">サーバログの閲覧</a></h3>
			</div>
			<div class="card-text">
				<div class="container pl-5">
					<p>サーバ上のログファイルを閲覧します。</p>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<div class="card-title text-white bg-primary">
				<h3>
					<form action="dbdump" method="POST">
						<input type="submit" style="border: none;" class="bg-primary text-white" value="データベースダンプファイルのバックアップ">
						{{ csrf_field() | raw }}
					</form>
				</h3>
			</div>
			<div class="card-text">
				<div class="container pl-5">
					<p>データベースのダンプファイルをDropboxに保存します。</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
